<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>forum</title>
    <link rel="shortcut icon" href="../assets/img/icon.png">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="../assets/css/Hero-Clean-images.css">
    <link rel="stylesheet" href="../assets/css/Navbar-Centered-Brand-Dark-icons.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="../index.html">
          <img src="../assets/img/forum-logo.png" height="188" alt="FORYNOV Logo" loading="lazy" style="margin-top: -1px;" />
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="btn btn-primary me-4" href="https://youtu.be/Fe1QKLBqYwc"></a>
            </li>
          </ul>
          <!-- Left links -->
          <div class="d-flex align-items-center">
            <div class="d-none d-md-block">
              <a class="btn btn-light me-2" role="button" href="login-register/Log-in.html">Connexion</a>
              <a class="btn btn-primary" role="button" href="login-register/Register.html" style="margin-right: -210px;">Inscription</a>
            </div>
          </div>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="d-none d-md-block">
      <a class="btn btn-primary" role="button" href="../topic.html">Return to topics</a>
      <div class="container py-4 py-xl-5">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> New Message </button>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add your message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="Message-Form">
                  <div class="mb-3">
                    <label class="form-label">Message Content</label>
                    <input id="messageContent" class="form-control">
                    <div class="form-text">tkt ya pas de restriction sur les mots ici</div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">author</label>
                    <input id="author" class="form-control">
                    <div class="form-text">tu peux mettre le blaze que tu veux</div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
        <div Id="topic1-messages"></div>
        <footer class="text-center bg-dark" style="padding-left: 0px;">
          <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
              <li class="list-inline-item me-4">
                <a class="link-light" href="../Design-dev-host.html">Design Web</a>
              </li>
              <li class="list-inline-item me-4">
                <a class="link-light" href="../Design-dev-host.html#dev">Développement</a>
              </li>
              <li class="list-inline-item">
                <a class="link-light" href="../Design-dev-host.html#aws">Hébergement</a>
              </li>
            </ul>
            <p class="text-muted mb-0">Copyright © 2023 ForYnov</p>
          </div>
        </footer>
      </div>
      <footer class="text-white bg-dark"></footer>
      <script src="../JS/messages.js"></script>
      <script src="../JS/messagesPost.js"></script>
      <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>