<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>forum</title>
    <link rel="shortcut icon" href="./assets/img/icon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Hero-Clean-images.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Brand-Dark-icons.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="index.html">
          <img src="assets/img/forum-logo.png" height="188" alt="FORYNOV Logo" loading="lazy" style="margin-top: -1px;" />
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="btn btn-primary me-4" href="topic.html">Explore topics</a>
            </li>
          </ul>
          <!-- Left links -->
          <div class="d-flex align-items-center">
            <div class="d-none d-md-block">
              <a class="btn btn-light me-2" role="button" href="login-register/Log-in.html">Connexion</a>
              <a class="btn btn-primary" role="button" href="login-register/Register.html" style="margin-right: -210px;">Inscription</a>
            </div>
          </div>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <!-- bootstrap -->
    <div class="container py-4 py-xl-5">
      <div class="row gy-4 gy-md-0">
        <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
          <div style="max-width: 350px;">
            <h2 class="text-uppercase fw-bold">Un design simple et complet</h2>
            <p class="my-3">Nous avons fais le choix d'utiliser le framework bootstrap pour réaliser notre site. Il embarque toute la technologie pour un design réussi.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-xl-5 m-xl-5">
            <img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="assets/img/2918581.png">
          </div>
        </div>
      </div>
    </div>
    <!-- developpeurr -->
    <div class="container py-4 py-xl-5">
      <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2 id="dev">La team de développeur</h2>
          <p>Voici nos deux développeurs de génies qui ont mis au point ce site incroyable et merveilleux.</p>
        </div>
      </div>
      <div class="row gy-4 row-cols-2 row-cols-md-4">
        <div class="col">
          <div class="card border-0 shadow-none"></div>
        </div>
        <div class="col">
          <div class="card border-0 shadow-none">
            <div class="card-body text-center d-flex flex-column align-items-center p-0" style="padding-top: 0px;">
              <img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="assets/img/adam-chretien.jpg">
              <h5 class="fw-bold text-primary card-title mb-0">Adam Chrétien</h5>
              <p class="text-muted card-text mb-2">Prêcheur de la bonne parole et Algérien par adoption</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 shadow-none">
            <div class="card-body text-center d-flex flex-column align-items-center p-0">
              <img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="assets/img/leyapson.png">
              <h5 class="fw-bold text-primary card-title mb-0">LeYapson</h5>
              <p class="text-muted card-text mb-2">Streameur en déficit bancaire</p>
              <br>
              <p class="text-muted card-text mb-2"></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 shadow-none"></div>
        </div>
      </div>
    </div>
    <!-- aws -->
    <div class="container py-4 py-xl-5">
      <div class="row gy-4 gy-md-0">
        <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
          <div style="max-width: 350px;">
            <h2 id="aws" class="text-uppercase fw-bold" id="1">Le choix de la performance</h2>
            <p class="my-3">Nous avons fait le choix d'heberger notre site sur AWS pour les raisons suivantes : <br>
              <b>Fiabilité :</b> Nous bénéficions d'une infrastructure robuste assurant une disponibilité élevée pour le site web. <br>
              <b>Évolutivité :</b> Nous pouvons facilement adapter les ressources du serveur pour gérer la croissance du trafic et garantir une expérience utilisateur fluide. <br>
              <b>Sécurité renforcée :</b> FORYNOV est ainsi protégé contre les menaces grâce aux mesures de sécurité avancées d'AWS. <br>
              <b>Flexibilité des options :</b> Nous pouvons choisir parmi diverses options de serveur pour répondre à vos besoins spécifiques. <br>
              <b>Économies de coûts :</b> FORYNOV n'est pas lourd sur notre budget grâce à la tarification flexible basée sur l'utilisation réelle des ressources.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-xl-5 m-xl-5">
            <img class="rounded img-fluid w-100 fit-cover" style="min-height: 100px;" src="assets/img/aws.png">
          </div>
        </div>
      </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>