<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>forum</title>
    <link rel="shortcut icon" href="./assets/img/icon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Hero-Clean-images.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Brand-Dark-icons.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="index.html">
          <img src="assets/img/forum-logo.png" height="188" alt="FORYNOV Logo" loading="lazy" style="margin-top: -1px;" />
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="btn btn-primary me-4" href="topic.html">Explore topics</a>
            </li>
          </ul>
          <!-- Left links -->
          <div class="d-flex align-items-center">
            <div class="d-none d-md-block">
              <a class="btn btn-light me-2" role="button" href="login-register/Log-in.html">Connexion</a>
              <a class="btn btn-primary" role="button" href="login-register/Register.html" style="margin-right: -210px;">Inscription</a>
            </div>
          </div>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="container py-4 py-xl-5">
      <div class="row gy-4 gy-md-0">
        <div class="col-md-6">
          <div class="p-xl-5 m-xl-5">
            <img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="assets/img/smiley qui valide.png">
          </div>
        </div>
        <div class="col-md-6 d-md-flex align-items-md-center">
          <div style="max-width: 350px;">
            <h2 class="text-uppercase fw-bold">Le forum spécialement conçu pour Montpellier ynov campus</h2>
            <p class="my-3">Vous pouvez parler de tous les sujets que vous souhaitez&nbsp; ou bien juste venir lire de quoi les autres peuvent bien parler. Connecte toi et crée ton sujet de discussion ou juste explore les différents sujets déjà existants.</p>
            <a class="btn btn-primary btn-lg me-2" role="button" href="login-register/Log-in.html">Connexion</a>
            <a class="btn btn-outline-primary btn-lg" role="button" href="topic.html">Explore les sujets</a>
          </div>
        </div>
      </div>
      <footer class="text-center bg-dark" style="padding-left: 0px;">
        <div class="container text-white py-4 py-lg-5">
          <ul class="list-inline">
            <li class="list-inline-item me-4">
              <a class="link-light" href="Design-dev-host.html">Design Web</a>
            </li>
            <li class="list-inline-item me-4">
              <a class="link-light" href="Design-dev-host.html#dev">Développement</a>
            </li>
            <li class="list-inline-item">
              <a class="link-light" href="Design-dev-host.html#aws">Hébergement</a>
            </li>
          </ul>
          <p class="text-muted mb-0">Copyright © 2023 ForYnov</p>
        </div>
      </footer>
    </div>
    <footer class="text-white bg-dark"></footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>